<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Pagina de Mihael Scofield de Azevedo</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/f873608414.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="profilePhoto" src="https://www.inf.ufpr.br/msa18/materials/mihaelProfile.jpg" alt="Foto de Perfil">
        
        <h1>Mihael Scofield</h1>

        <nav>
            <ul class="paginas">
                <li><a href="https://www.inf.ufpr.br/msa18/index.html">Início</a></li>
                <li><a href="https://www.inf.ufpr.br/msa18/view/compiladores/compiladores.html">Compiladores</a></li>
                <li><a href="https://www.inf.ufpr.br/msa18/view/web/web.html">Programação Web</a></li>
                <li><a href="https://www.inf.ufpr.br/msa18/view/redes/redes.html">Redes 1</a></li>
            </ul>
        </nav>

        <footer>
            <ul class="links">
                <li><a href="https://github.com/Mihael-Scofield" target="blank" title="GitHub"><i class="fa-brands fa-github fa-2xl"></i></a></li>
        </footer>
    </header>

    <main>
        <img class="coffeGiff" src="https://www.inf.ufpr.br/msa18/materials/web/errorLost.gif">
        <h1> CI320 / CI1010 - Programação Web </h1>
        <h1> Bruno Müller Junior </h1>

        <H2> Introdução </H2>
        <p> A Disciplina de Programação Web tem como objetivo principal compreender as técnicas utilizadas na criação de aplicações web a nível clientes e servidores.</p>
        <p> Ela é dividida em duas partes, sendo a primeira ferramentas nível cliente e a segunda servidores </p>

        <H2> Trabalhos </H2>
        <p> Ao todos serão 5 trabalhos apresentados na disciplina, cada um deles passando por uma ferramenta diferente dentro da criação de aplicações web. </p>
        <p> Trabalhos 3 e 4 abaixo, além dos códigos de cada trabalho desenvolvido por mim disponíveis <a href="https://github.com/Mihael-Scofield/Prog-Web">nesse repositório.</a></p>

        <H1> <a href="https://www.inf.ufpr.br/msa18/view/web/t3.html"> Trabalhos 3 </a></H1>
        <H1> <a href="C:\Users\mihae\Downloads\UFPR\Prog-Web\t4\view\web\t4.html"> Trabalhos 4 </a></H1>
    </main>
</body>
</html>